{% extends "base.html"%}
{% load static %}
{% block content%}
	<link rel="stylesheet" href='{% static "cart/style.css" %}' type="text/css">
	<div class="container">
		<div class="row">
			{% if flag %}
				<div class="prods_cart col-lg-9" data-item_ids="{{iids}}" >


					
					{% for item in cart %}

						<div class="row col-lg-12" data-item_id={{item.id}} id="cart_item_{{item.id}}">
							<div class="check col-lg-1">
								<input type="checkbox" checked="checked" data-item_id="{{item.id}}"/> 
							</div>
							{% for pic in all_img %}
								{% if pic.prods == item.prods %} 
									{% if pic.colors == item.colors%}



										<div class="cart_img col-lg-2">
											<img src="{{pic.image.url}}" alt="">
										</div>
									{% endif %}
								{% endif %}

							{% endfor %}


							
							<div class="cart_info col-lg-5">
								<h3>{{item.prods.name}}</h3>
								<h4>{{item.colors.name}}</h4>
								<h5>{{item.size.name}}</h5>

								
							 	
							</div>
							<div class="cart_amount col-lg-1 ">
								<div class="minus" data-item_id="{{item.id}}"><div>-</div></div>
								<div class="middle"></div>
								<div class="plus" data-item_id="{{item.id}}"><div>+</div></div>
							</div>
							<div class="cart_price">
								
							</div>
							<div class="total_price col-lg-1">
								
							</div>
							<div class="delete col-lg-1" data-item_id="{{item.id}}">
								✕
							</div>
						</div>
					
					{% endfor %}
				</div>
				<div class="order col-lg-3">


					<div class="cart_sum">
						
					</div>
					{% if user.is_authenticated %}
					<div class="order_btn" id="order_btn">
								<!-- href="http://127.0.0.1:8000/cart/order" -->

						<a   href="http://127.0.0.1:8000/cart/order" class="btn btn-success" >
							Перейти к оформлению
						</a>
					</div>
					{%else%}
					<div >Пожалуйста, <a href="{% url 'login'%}?next={{request.path}}"> войдите</a>, чтобы сделать заказ!</div>

					{% endif %}
				</div>
			{% endif %}
			{% if not flag %}
				<h1>Корзина пока пуста)</h1>
			{% endif %}


		</div>
		
		
	</div>
	<script type="text/javascript" src='{% static "js/amount.js"%}'></script>




{%endblock content%}